main.card {
  text-align: center;
  padding-top: 25px;
  height: 500px;
  width: 500px;
  border-radius: 25px;
  background-color: #333;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.2);
}
.form-container {
  margin-top: 35px;
  width: 100%;
}
.form-error {
  background-color: #df4e00;
  display: flex;
  justify-content: center;
}
.form-label {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form-label label {
  margin-left: 22px;
}
.form-label span {
  min-width: 350px;
  border-radius: 4px 0 0 4px;
  background-color: #df4e00;
}
.form-group input {
  font: inherit;
  border-radius: 4px;
  border: none;
  width: 90%;
  background-color: #ddd;
  color: #222;
  text-align: left;
  padding: 0.25rem;
}
.form-actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-actions button {
  width: 92%;
  border-radius: 4px;
  border: none;
  background-color: #66d9ff;
  color: #242527;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.form-actions button[type='button'] {
  background-color: #333;
  color: #ddd;
}
.form-actions button:hover {
  cursor: pointer;
  background-color: #b3ecff;
  color: #242527;
}
.form-invalid {
  cursor: not-allowed !important;
  background-color: #bbb !important;
}
