main.card {
  text-align: center;
  padding-top: 25px;
  height: 500px;
  width: 500px;
  border-radius: 25px;
  background-color: #193f85;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
main.card header {
  border-left: 20px solid #007bd1;
  border-right: 20px solid #007bd1;
}
