<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Plates' Place!</h1>
    <div>
      <p>
        Thank you for registering. Your account is not yet active,<br />
        click
        <a href="{{url}}">this link</a>
        to activate it.
      </p>
      <p>
        Alternatively, you can copy below link and paste it in your browser:<br />
        {{url}}
      </p>
      <p>
        Regards,<br />
        Plates' Place Daemon
      </p>
    </div>
  </body>
</html>
